.vscode
node_modules
nightfall_3
.*.swp
aws/aws/cdk.out/*
aws/nightfall-vpn/*
aws/volumes/*
aws/aws/cdk.context.json
aws/aws/lib/lambdas/*.zip
aws/services/dashboard/options.js
*_diff.txt
aws/test/data/*
.~lock.*
aws/certificates/*.ovpn
aws/aws/keys/*
aws/scripts/output.txt
aws/aws/paramstore/params.txt
aws/env/*
aws/aws/contexts/*

# Allow context files
!aws/context/cdk.context.template.json

# Allow env files
!aws/env/aws.copy.env
!aws/env/init-env.env
!aws/env/secrets.env
!aws/env/secrets-ganache.env
!aws/env/template.env
