.vscode
node_modules
nightfall_3
.*.swp
aws/aws/cdk.out/*
aws/nightfall-vpn/*
aws/volumes/*
aws/aws/cdk.context.json
aws/aws/lib/lambdas/*.zip
aws/services/dashboard/options.js
*_diff.txt
aws/test/data/*
.~lock.*
aws/aws/contexts/cdk.context.tmp-*.json
aws/env/tmp-*.env
aws/certificates/*.ovpn
aws/aws/keys/*
aws/scripts/output.txt
aws/env/aws.env
aws/aws/paramstore/params.txt
