# ----- For connection to the blockchain -----
# Blockchain URL for deployment
BLOCKCHAIN_URL=
# Private key of the deployer / owner
PRIVATE_KEY=
# Ethereum address of the private key PRIVATE_KEY
ETH_ADDRESS=

# Contract address of the RLN deployed in the network
CONTRACT_ADDRESS=

# ----- For testing -----
# Blockchain wss for deployment
BLOCKCHAIN_WSS=
# Client API URL
CLIENT_API_URL=
# Mnemonic for initializing the sdk
MNEMONIC=
# Optimist WS
OPTIMIST_WS=
# Optimist API URL
OPTIMIST_API_URL=
# Token id used in the test
TOKEN_ID=
# Value for deposits, transfers and withdrawals in the test
VALUE=
